<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load("current", {"packages": ["table"]});
    google.charts.setOnLoadCallback(drawTable_{{{koperebiitem_id}}});

    function drawTable_{{{koperebiitem_id}}}() {
        var data = new google.visualization.DataTable();
        {{{addcollumn}}}

        data.addRows(
            {{{linechart}}}
        );

        var options = {
            backgroundColor: "transparent",
            allowHtml: true,
            showRowNumber: false,
            page: "enable",
            pageSize: 20,
            width: "100%",
            height: "100%",
            pagingSymbols: {
                prev: "<<", next: ">>"
            }
        };

        var table = new google.visualization.Table(document.getElementById("table_{{{koperebiitem_id}}}"));

        {{{formatter}}}

        table.draw(data, options);
        setTimeout(function() {
            $(".google-visualization-table-table").addClass("table")
        }, 300);
    }
</script>
<div id="table_{{{koperebiitem_id}}}"></div>