<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load("current", {packages: ["corechart"]});
    google.charts.setOnLoadCallback(drawpie_{{{koperebiitem_id}}});

    function drawpie_{{{koperebiitem_id}}}() {
        var data = google.visualization.arrayToDataTable([
            ["Task", "Value"],
            {{{arraypie}}}
        ]);

        var options = {
            backgroundColor: "transparent",
            width: "100%",
            legend: {
                position: "right"
            },
            chartArea: {
                backgroundColor: "transparent",
            }
        };

        var chart = new google.visualization.PieChart(document.getElementById("pie_{{{koperebiitem_id}}}"));
        chart.draw(data, options);
    }

    window.addEventListener("resize", function() {
        timeout_drawpie_{{{koperebiitem_id}}} = setTimeout(drawpie_{{{koperebiitem_id}}}, 500)
    }, false);
</script>
<div id="pie_{{{koperebiitem_id}}}" style="height: 400px;"></div>